# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Lingkungan virtual (jika nanti ada)
venv/
.env
env/

# Hasil build PyInstaller (Executable)
build/
dist/
*.spec

# Dependencies NodeJS
node_modules/

# Folder backup manual Anda (karena git sudah jadi backup)
backup/

# Application logs
logs/
